@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #201b2c;
}

body {
  font-family: 'Wix MadeFor Text', sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Wix MadeFor Text', sans-serif;
}

p {
  font-family: 'Wix MadeFor Text', sans-serif;
  color: rgb(255, 255, 255);
}

a {
  color: #3affbc;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #9fffdf;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
